Source: ros-galactic-rtcm-msgs
Section: misc
Priority: optional
Maintainer: Marek Materzok <tilk@tilk.eu>
Build-Depends: debhelper (>= 9.0.0), ros-galactic-ament-cmake, ros-galactic-ros-environment, ros-galactic-rosidl-default-generators, ros-galactic-std-msgs, ros-galactic-ros-workspace, ros-galactic-rosidl-typesupport-fastrtps-c, ros-galactic-rosidl-typesupport-fastrtps-cpp
Homepage: 
Standards-Version: 3.9.2

Package: ros-galactic-rtcm-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-galactic-std-msgs, ros-galactic-ros-workspace
Description: The rtcm_msgs package contains messages related to data in the RTCM format.
