Source: ros-kilted-rtcm-msgs
Section: misc
Priority: optional
Maintainer: Marek Materzok <tilk@tilk.eu>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-ament-cmake, ros-kilted-ament-lint-common <!nocheck>, ros-kilted-builtin-interfaces, ros-kilted-ros-environment, ros-kilted-rosidl-default-generators, ros-kilted-std-msgs, ros-kilted-ros-workspace, ros-kilted-rosidl-typesupport-fastrtps-c, ros-kilted-rosidl-typesupport-fastrtps-cpp
Homepage: 
Standards-Version: 3.9.2

Package: ros-kilted-rtcm-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-rosidl-default-runtime, ros-kilted-std-msgs, ros-kilted-ros-workspace
Description: The rtcm_msgs package contains messages related to data in the RTCM format.
